<!DOCTYPE html>
html
  block cool-config
  head
    title=myTitleForGoogleSearch
    meta(name="description", content=myDescriptionForGoogleSearch)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block awesome-content