.landing-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#8a8fa2, #415a67)
}
 
.landing-page__wrapper {
  text-align: center;
}

.landing-page__name {
  font-size: 2rem;
  text-transform: uppercase;
}

.landing-page__title {
  font-size: 1rem;
  text-transform: capitalize;
}

.landing-page__social {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.landing-page__label {
  color: $color-white;
  padding: 0.1rem 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.landing-page__label span {
  display:inline-block;
  border:0;
  width:20px;
  height:20px;
  position: relative;
  transition: all 200ms ease-in;
  transform: scale(1);
  &>span:nth-child(1) {
    color: blue;
  }
}

.landing-page__label span:hover {
  box-shadow: 2px 2px 20px #e49a11;
  transition: all 300ms ease-in;
  transform: scale(1.25);
  &+span:nth-child(1){
    color: red
  }
}

ul li:nth-child(1) label span:hover{
  color: #00a0dc
}
ul li:nth-child(2) label span:hover{
  color: #000000;
}
ul li:nth-child(3) label span:hover{
  color: #34f55e
}
ul li:nth-child(4) label span:hover{
  color: #237fa0
}
ul li:nth-child(5) label span:hover{
  color: #db4437
}
ul li:nth-child(6) label span:hover{
  color: #ff0000
}
ul li:nth-child(7) label span:hover{
  color: #f48024
}
ul li:nth-child(8) label span:hover{
  color: #1da1f2
}

.landing-page__box-radio:checked +
.landing-page__box-message {
  display: inherit;
}

.landing-page__box-radio,
.landing-page__box-message {
  display: none;
}

#default-message-radio:checked + 
.landing-page__box-message + 
.landing-page__box-header {
  display: none;
}

.landing-page__box-body {
  display: inline-block;
  border: 0.2rem solid $color-white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-top: 0.4rem;
  position: relative;
}

.landing-page__box-header {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 100%;
  display: flex;
  justify-content: space-between;
}

.landing-page__box-info,
.landing-page__box-close {
  background: $color-white;
  padding: 0.4rem;
  white-space: nowrap;
  line-height: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page__box-info {
  border-bottom-left-radius: 0.3rem;
  flex-grow: 1;
}

.landing-page__box-close {
  border-bottom-right-radius: 0.3rem;
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.5rem;
}

.landing-page__box-link,
.landing-page__box-link:visited,
.landing-page__box-message {
  color: $color-white;
}

.landing-page__box-link,
.landing-page__box-link:visited {
  font-size: 1.1rem;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}