.about-me {
  background-image: radial-gradient(
    ellipse,
    $color-gerladine,
    $color-terracotta
  );
}

.about-me__header {
  color: $color-white;
  @extend %header;
}

.about-me__avatar {
  border-radius: 50%;
  width: 100%;
  border: 0.5rem solid $color-terracotta;
}