doctype html
html(lang="en")
  head
    title Welcome to Pug Starter
    meta(content="Simple pug (jade) starter aimed to quickly deliver HTML & CSS projects" name="description")
  body
    h1 Welcome to pug-starter! #{config.lang} :)

