extends _components/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = "My-CV Timotei Dumitru";
    var myDescriptionForGoogleSearch = "This is made using PURE HTML5 and CSS techniques";
block awesome-content
  include _components/landing-page/landing-page
  include _components/about-me/about-me
  include _components/award/award
  include _components/skills/skills
  include _components/experience/experience

